


button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}


/***  LayOut  ***/
/***    ***/

/***   MediaQuery  ***/
@media (min-width: 1040px) {
  .DisAndFic {
    display: flex;
    flex-direction: row;
    width: 87%;
    margin: auto;
  }
  .Row4 {
    width: 47%;
    margin: 40px auto;
  }
  .Facilities {
    width: 49%;
    margin: 40px auto;
  }
}
@media (max-width: 1040px) {
  .DisAndFic {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: auto;
  }
  .Row4 {
    width: 100%;
    margin: 40px auto;
  }
  .Facilities {
    width: 100%;
    margin: 40px auto;
  }
}
@media (min-width: 660px) {
  .row {
    display: flex;
    flex-direction: row;
    width: 84.5%;
  }
  .column {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px 0 20px 0;
  }
  .column2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px 0 20px 0;
  }
  .PriceAndId{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 91%;
    /* align-items: center; */
    margin-left: 30px;
  }
  .wrapper3 {
    width: 90%;
    background: #fff;
    padding: 30px 0px 30px  2%;
    
  }
  .IdAndMint{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .IdAndWallet{
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 40px; */
    gap: 3%;
  }
  
}
@media (max-width: 660px) {
  .row {
    display: flex;
    flex-direction: column;
    width: 84%;
  }
  .column {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0 30px 0;
  }
  .column2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 30px 0;
  }
  .PriceAndId{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 91%;
    align-items: center;
  }
  .wrapper3 {
    width: 90%;
    background: #fff;
    padding: 30px 0px;
    
  }
  .IdAndMint{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .IdAndWallet{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}
@media (min-width: 550px) {
  .Row5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25% 0 15%;
  }
}
@media (max-width: 550px) {
  .Row5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5% 0 25%;
  }
}
/***   Estate Info   ***/
.EstateInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 84%;
  background: #fff;
  padding: 30px;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}
.wrapper .inputData {
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .inputData .textinput {
  height: 100%;
  width: 99%;
  border:none;
  font-size: 14px;
  border-bottom: 2px solid silver;
  outline: none;
}
.invalid{
   border-radius: 4px;
   background-color: rgba(187, 47, 50, 0.377);
  
}
.inputData .textinput:focus ~ .label,
.inputData .textinput:valid ~ .label {
  transform: translateY(-18px);
  font-size: 12px;
  color: #989898;
}
.wrapper .inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 13px;
}
.inputData .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -4px;
}
.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 99%;
  background: #989898;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.inputData .textinput:focus ~ .underline:before,
.inputData .textinput:valid ~ .underline:before {
  transform: scaleX(1);
}

.wrapper2 {
  width: 100%;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding: 30px; */
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}
.wrapper2 .inputData {
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper2 .inputData .textinput {
  height: 100%;
  width: 96%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  outline: none;
}
.wrapper2 .inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}


/* .wrapper3 {
  width: 45%;
  background: #fff;
  padding: 30px 25px 30px  0px;
  
} */
.wrapper3 .inputData {
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper3 .inputData .textinput {
  height: 100%;
  width: 99%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  outline: none;
}

.wrapper3 .inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper4 {
  width: 78%;
  background: #fff;
  padding: 30px 20px 30px 0px;
}
.wrapper4 .inputData {
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper4 .inputData .textinput {
  height: 120%;
  width: 99%;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 4px;
  margin-top: -8px;
  font-size: 14px;
  border-bottom: 2px solid silver;
  outline: none;
  padding-left: 5px;
}

.wrapper4 .inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
  padding-left: 10px;
}


.MintBtn {
    -webkit-appearance: none;
    width: auto;
    min-width: 80px;
    margin: 0 10px;
    height: 50px;
    border-radius: 14px;
    text-align: center;
    background:#009FFF;
    color: #fff;
    font-size: 14px;
    margin-top: -4px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
  }
  .MintBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px -1px rgba(139, 104, 157, 0.65);
    background: #009FFF;
  }
  .MintBtn:hover:active {
    transform: scale(0.99);
  }
  .ConnectWalletBtn {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    height: 50px;
    border-radius: 14px;
    text-align: center;
    background: #fff;
    color: #272525;
    font-size: 12px;
    margin-top: -4px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
  }
  .ConnectWalletBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px -1px rgba(139, 104, 157, 0.65);
    background: #f6f6f6;
  }
  .ConnectWalletBtn:hover:active {
    transform: scale(0.99);
  }






Input::-webkit-outer-spin-button,
Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

Input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
 
 
}


select {
  /* appearance: none; */
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  border: 2px solid black;

}
/* Remove IE arrow */

.countryNameClass2:hover::after {
  
  color: #fff;
  background-color: #18181a;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 98%;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin:1%;
  /* padding: -3px; */
}
/* Arrow */


/***    ***/

/*** Type of Estate ***/
.dark {
  width: 50%;
  min-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: auto;
}

.dark::before,
.dark::after {
  content: "";
  display: block;

  border-radius: 100%;

  position: absolute;
}
.dark {
  --primary: hsl(1, 100%, 68%);
  --other: hsl(0, 0%, 4%);
}

/* label */
.RadioLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 52px 0;

  cursor: pointer;
  position: relative;
}
/* input */
.RadioInput {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* .design */
.design {
  width: 16px;
  height: 16px;

  border: 1px solid var(--other);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}
.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: var(--other);
  opacity: 0;
  transition: 0.3s;
}

.design::after {
  background: var(--primary);
  opacity: 0.4;
  transition: 0.6s;
}

/* .text */
.text {
  color: var(--other);
  font-weight: bold;
}

/* checked state */
.RadioInput:checked + .design::before {
  opacity: 1;
  transform: scale(0.6);
}

/* other states */
.RadioInput:hover + .design,
.RadioInput:focus + .design {
  border: 1px solid var(--primary);
}

.RadioInput:hover + .design:before,
.RadioInput:focus + .design:before {
  background: var(--primary);
}

.RadioInput:hover ~ .text {
  color: var(--primary);
}

.RadioInput:focus + .design::after,
.RadioInput:active + .design::after {
  opacity: 0.1;
  transform: scale(2.6);
}




/* Custom Select wrapper */
.select2 {
  position: relative;
  display: flex;
  width: 45%;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin: 30px auto 60px auto ;
}

/***   ***/

/***   Number and Metage of Estate   ***/
.RoomAndMetarge {
  width: 85%;
  margin: auto;
}
.Row3 {
  width: 100%;
  overflow-x: scroll;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  scrollbar-width: thin;
  scrollbar-color:  transparent;
}
.Row3::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  
}
.Row3::-webkit-scrollbar:hover {
  height: 25px;

}
.Row3::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.Row3::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: linear-gradient(to left, black, white);
  border-radius: 15px;
}
.styledTable {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  /* min-width: 400px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.styledTable td {
  padding: 12px 15px;
}
.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid #fd292f;
}
.styledTable tbody tr.active-row {
  font-weight: bold;
  color: #fd292f;
}

.checkbox_wrapper .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.checkbox_wrapper label {
  display: inline-block;
  color: #fd292f;
  cursor: pointer;
  position: relative;
}
.checkbox_wrapper label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #333;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  transition: background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox_wrapper label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.checkbox_wrapper label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.checkbox_wrapper label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
.checkbox_wrapper label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkbox_wrapper input[type="checkbox"] {
  display: none;
}
.checkbox_wrapper input[type="checkbox"]:checked + label span {
  background-color: black;
  transform: scale(1.25);
}
.checkbox_wrapper input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox_wrapper input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox_wrapper input[type="checkbox"]:checked + label:hover span {
  background-color: #383636;
  transform: scale(1.25);
}
.checkbox_wrapper input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox_wrapper input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.Icons {
  width: 35px;
  height: 35px;
}

.Inputs {
  border-radius: 5px;
  width: 65px;
}
/***    ***/

/***  Description Of Estate    ***/
.DescriptionTextArea {
  width: 97%;
  height: 325px;
  padding: 10px;
  transition: 100ms ease-in;
  border-radius: 10px;
}
.DescriptionTextArea:focus {
  box-shadow: 0 0 16px rgba(255, 0, 0, 0.15);
  outline: 2px solid rgb(238, 71, 74);
}
/***     ***/

/***  Facilities   ***/
.FacilitiesDiv {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 0;
}

.Row51 {
  display: flex;
  flex-direction: row;
  gap: 15%;
  align-items: center;
}
.FacilitiesH5 {
  width: 22px;
}
/***    ***/

.Uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/***   Image Uploader  ***/
.ImgUploader {
  width: 85%;
  margin: auto;
}
.UploadDiv {
  margin: 30px 0;
}
.fileInput {
  border: 1px solid white;
  border-radius: 5px;
}
.fileInput:hover {
  border: 1px solid black;
  transition: 0.2s;
}
.previewContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  /* margin: auto; */
  border: 3px dashed black;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  scrollbar-color: green;
  scrollbar-width: none;
}

.uploadIcon {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploadIcon2 {
  /* display: none; */
  width: 2rem;
  height: 2rem;
}
.previewContainer img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin: 20px 20px 0 20px;
}
.previewContainer::-webkit-scrollbar {
  height: 15px;
  background: transparent;
}
.previewContainer::-webkit-scrollbar:hover {
  height: 25px;
}
.previewContainer::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.previewContainer::-webkit-scrollbar-thumb {
  display: none;
  height: 5px;
  border: 4px solid #fff;
  background: transparent;
  border-radius: 15px;
}

/***     ***/
/***  Video Aploader  ***/
.fileInput2 {
  border: 1px solid white;
  border-radius: 5px;
}
.fileInput2:hover {
  border: 1px solid black;
  transition: 0.2s;
}
.VideoUploader {
  width: 85%;
  margin: 80px auto;
}
.previewContainer2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  /* margin: auto; */
  border: 3px dashed black;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.previewContainer2 img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin: 20px 20px 0 20px;
}
.previewContainer2::-webkit-scrollbar {
  height: 15px;
  background: transparent;
}
.previewContainer2::-webkit-scrollbar:hover {
  height: 25px;
}
.previewContainer2::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.previewContainer2::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: transparent;
  border-radius: 15px;
}
.ChooseLabel {
  cursor: pointer;
  transition: 0.4s;
}
.ChooseLabel:hover {
  transform: scale(1.4);
  color: #383636;
  text-decoration: underline;
}
/***    ***/





.AddAndDelete{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6%;
}
/***   Add Button  ***/
.AddButton {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  background: #18181a;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 40px;
  border-radius: 7px;
}

.AddButton span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.AddButton span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  font-size: 2rem;
}

.AddButton:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.AddButton:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.AddButton:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/***     ***/
/***  Delete button   ***/
.DeleteBtn {
  position: relative;
  overflow: hidden;
  border: 1px solid #ef4057;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  background:#ef4057;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 40px;
  border-radius: 7px;
}

.DeleteBtn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.DeleteBtn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  font-size: 2rem;
}

.DeleteBtn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#ef4057;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.DeleteBtn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.DeleteBtn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.DeleteIcon{
  width: 30px;
  height: 30px;
  margin-top: -5px;
}