.header {
  border-bottom: 1px solid;
}

/*** LayOut  ***/
.column1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -75px;
  margin-left: 15px;
}
.Container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.column2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
/*.column45{
  display: flex;
  gap: 30px;
  margin-left:12%;
}*/
.Buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}
.Container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Price {
  display: flex;
  flex-direction: row;
}
.PurChaseDiv {
  display: flex;
  flex-direction: row;
}
/***  ***/

/***  MediaQuery   ***/
@media (min-width: 1209px) {
  /***  ChartAndCalendar   ***/
  .ChartAndCalendar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1%;
    margin-right: 1%;
  }
  .Chart {
    /* border: 1px solid;
    border-radius: 20px; */
    /* background-color: #818181; */
    width: 70%;
    height: 300px;
  }
  .Calendar {
    /* border: 1px solid;
    border-radius: 20px; */
    /* background-color: #818181; */
    width: 350px;
    height: 300px;
  }
  /***    ***/
}
@media (max-width: 1209px) {
  /***  ChartAndCalendar   ***/
  .ChartAndCalendar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
    margin-right: 1%;
  }
  .Chart {
    /* border: 1px solid;
    border-radius: 20px; */
    /* background-color: #818181; */
    width: 100%;
    height: 300px;
    order: 2;
    margin-bottom: 2%;
  }
  .Calendar {
    /* border: 1px solid;
    border-radius: 20px; */
    /* background-color: #818181; */
    width: 350px;
    height: 300px;
    order: 1;
    margin: 20px auto;
  }
  /***    ***/
}
@media (min-width: 710px) {
  .hrPurchase {
    background-color: #111;
    height: 70px;
    width: 1px;
    display: none;
  }
  .hrDetails {
    background-color: #111;
    height: 85px;
    width: 1px;
    display: none;
  }

  /***  Details  ***/
  .Details {
    background-color: #204ca5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 20px;
    margin: 30px;
    box-shadow: rgba(27, 55, 211, 0.15) 0 8px 15px;
    transform: translateY(-2px);
    height: 95px;
    transition: 0.3s;
  }
  .Details:hover {
    box-shadow: rgba(27, 55, 211, 0.45) 0 8px 15px;
    transform: translateY(-2px);
  }
  .h4TotalIncome {
    color: #f1f1f1;
    /* color:#818181; */
    font-size: 100%;
  }
  .h2TotalIncomePrice {
    color: #f1f1f1;
    font-size: 100%;
    margin-top: -10px;
  }

  .h4NbrODct {
    color: #f1f1f1;
    /* color:#818181; */
    font-size: 100%;
  }
  .h2NumberOfDocuments {
    color: #f1f1f1;
    font-size: 100%;
    margin-top: -10px;
  }

  .h4NbrOClt {
    color: #f1f1f1;
    /* color:#818181; */
    font-size: 100%;
  }
  .h2NumberOfClients {
    color: #f1f1f1;
    font-size: 100%;
    margin-top: -10px;
  }
  /***     ***/
}
@media (max-width: 710px) {
  .Header {
    height: 104.8px;
  }
  .LogoName {
    display: none;
  }
  .column1 {
    margin-top: 15px;
  }
  .hrPurchase {
    color: #111;
    background-color: #111;
    height: 55px;
    width: 0.5px;
    display: none;
    margin-top: 35px;
    margin-left: 10px;
  }
  .hrDetails {
    color: #111;
    background-color: #111;
    height: 35px;
    width: 0.5px;
    margin-top: 18px;
    display: flex;
  }

  /***  Details  ***/
  .Details {
    /* background-color: #818181; */
    background-color: #204ca5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 20px;
    margin: 30px;
    box-shadow: rgba(27, 55, 211, 0.15) 0 8px 15px;
    transform: translateY(-2px);
    height: 80px;
    transition: 0.3s;
  }
  .Details:hover {
    box-shadow: rgba(27, 55, 211, 0.45) 0 8px 15px;
    transform: translateY(-2px);
  }
  .h4TotalIncome {
    color: #f1f1f1;
    font-size: 80%;
  }
  .h2TotalIncomePrice {
    color: #f1f1f1;
    font-size: 80%;
    margin-top: -10px;
  }

  .h4NbrODct {
    color: #f1f1f1;
    font-size: 80%;
  }
  .h2NumberOfDocuments {
    color: #f1f1f1;
    font-size: 80%;
    margin-top: -10px;
  }

  .h4NbrOClt {
    color: #f1f1f1;
    font-size: 80%;
  }
  .h2NumberOfClients {
    color: #f1f1f1;
    font-size: 80%;
    margin-top: -10px;
  }
  /***    ***/
}
@media (max-width: 540px) {
  .LogoImg {
    display: none;
  }
  .column1 {
    margin-top: 21px;
  }
}
@media (max-width: 470px) {
  .column2 {
    margin-right: 2%;
    gap: 10px;
  }
  .Buttons {
    order: 2;
    gap: 10px;
  }
  .Names {
    order: 1;
    margin-right: 20px;
    margin-top: 26px;
  }
  .h3AdminName {
    font-size: 0.8rem;
  }
  .h6AdminInformations {
    font-size: 0.6rem;
  }
  .column3 {
    display: none;
  }
  .hrPurchase {
    display: none;
  }

  /***  Details  ***/
  .Details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
    height: 70px;
    box-shadow: rgba(27, 55, 211, 0.15) 0 8px 15px;
    transform: translateY(-2px);
    transform: 0.3s;
  }
  .Details:hover {
    box-shadow: rgba(27, 55, 211, 0.45) 0 8px 15px;
    transform: translateY(-2px);
  }
  .hrDetails {
    display: none;
  }
  .h4TotalIncome {
    color: #ffffff;
    font-size: 70%;
  }
  .h2TotalIncomePrice {
    color: #ffffff;
    font-size: 70%;
  }

  .h4NbrODct {
    color: #ffffff;
    font-size: 70%;
  }
  .h2NumberOfDocuments {
    color: #ffffff;
    font-size: 70%;
  }

  .h4NbrOClt {
    color: #ffffff;
    font-size: 70%;
  }
  .h2NumberOfClients {
    color: #ffffff;
    font-size: 70%;
  }
  /***    ***/

  .column45 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 11%;
  }
}
@media (min-width: 471px) {
  .Names {
    margin-right: 40px;
    margin-top: 10px;
  }
  .column45 {
    display: flex;

    gap: 30px;
    margin-left: 12%;
  }
}
@media (max-width: 347px) {
  .Buttons {
    gap: 2px;
  }
  .column2 {
    gap: 0;
  }
  .h3AdminName {
    font-size: 0.6rem;
  }
  .h6AdminInformations {
    font-size: 0.4rem;
  }

  .h4TotalIncome {
    color: #ffffff;
    font-size: 60%;
  }
  .h2TotalIncomePrice {
    color: #ffffff;
    font-size: 60%;
  }

  .h4NbrODct {
    color: #ffffff;
    font-size: 60%;
  }
  .h2NumberOfDocuments {
    color: #ffffff;
    font-size: 60%;
  }

  .h4NbrOClt {
    color: #ffffff;
    font-size: 60%;
  }
  .h2NumberOfClients {
    color: #ffffff;
    font-size: 60%;
  }
}
/***    ***/

/*** SideNav  ***/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #28282b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  position: relative;
  top: 40px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
.OpenNav {
  font-size: 35px;
  cursor: pointer;
  margin-left: 30px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.Dashboard {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  font-size: 1rem;
}
.DashboardIcn {
  width: 30px;
  height: 30px;
  padding-right: 15px;
}
/***   ***/

/***  Logo  ***/
.LogoImage {
  width: 45px;
  height: 70px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 3px;
}
.h1Name {
  font-size: 2.5rem;
  margin-left: 10px;
}
.LogoImage2 {
  width: 29px;
  height: 43px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 20px;
}
.h1Name2 {
  font-size: 1.7rem;
  margin-left: 10px;
  margin-top: 30px;
  color: #ffffff;
}
/***   ***/

/***  Buttons  ***/
/*  ChatBtn  */
.ChatButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background: #dddddd;
}
.ChatButton:hover {
  cursor: pointer;
}
.ChatButton:active {
  background: #cccccc;
}
.ChatIcn {
  width: 100%;
  height: 100%;
}
/*   */

/*  NotifBtn  */
.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.iconButton:hover {
  cursor: pointer;
}

.iconButton:active {
  background: #cccccc;
}

.iconButtonBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.materialIcons {
  width: 35px;
  height: 35px;
}
/*   */

/*  ProfileBtn  */
.ProfileButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background: #dddddd;
  padding: 0;
}
.ProfileButton:hover {
  cursor: pointer;
}
.ProfileButton:active {
  background: #cccccc;
}
.ProfileIcn {
  width: 50px;
  height: 50px;
}
/*   */
/***    ***/

/***   Names  ***/
.h3AdminName {
  margin-bottom: 10px;
}
.h6AdminInformations {
  color: #9ca1a8;
  margin: 0;
}
/***    ***/

/***  Dashboard  ***/
.h2Dashboard {
  font-size: 2rem;
}
.p3TechInf {
  color: #9ca1a8;
  margin-top: -20px;
}
/***    ***/

/***  EthPrice  ***/
.Price {
  margin-top: 25px;
}
.EthIcon {
  width: 55px;
  height: 55px;
}
.h6EthPrice2 {
  margin-top: -10px;
  margin-left: 55px;
  color: #9ca1a8;
}
/***    ***/

/***  Purchase  ***/
.PurChaseDiv {
  margin-top: 25px;
}
.PurchaseIcon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
}
.h4TransactionPrice {
  margin-top: -10px;
  color: #9ca1a8;
}
/***    ***/

/***  BarGraf  ***/
.BarGraf {
  /* border: 1px solid;
  border-radius: 20px; */
  /* background-color: #818181; */
  width: 98%;
  height: 350px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
/***    ***/
