
/* .ThEsp{
  width: 180px;
  padding: 20px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #140707;
  background-color: #e8e8e8;
  text-align: center;
  overflow: hidden;
  white-space: normal;
} */

/* .TdEsp{
  width: 180px;
  padding: 15px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #0d0808;
  text-align: center;
  border-bottom: 1px solid #b9b9b9;
} */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .TdEsp::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .TdEsp {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
@media (min-width: 750px) {

  .GLStable {
    width: 100%;
    table-layout: fixed;
    min-width: 1350px;
    overflow: scroll;
    /* max-height: 400px; */
  }
  .EstateImg {
    width: 100%;
    height: 100%;
    /* border-radius: 20%; */
  }
  .Th {
    padding: 17px 15px;
    font-weight: 500;
    font-size: 14px;
    color: #140707;
    /* text-transform: uppercase; */
    background-color: #e8e8e8;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #a2a2a2;
    z-index: 4;

  }
  .ThEsp{
    width: 170px;
    padding: 17px 15px;
    font-weight: 500;
    font-size: 14px;
    color: #140707;
    background-color: #e8e8e8;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #a2a2a2;
    z-index: 4;
  }
  .Td {
    padding: 5px 15px;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #0d0808;
    text-align: center;
    border-bottom: 1px solid #b9b9b9;
  
    
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .Td::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Td {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.TdEsp{
  width: 170px;
  padding: 15px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #0d0808;
  text-align: center;
  border-bottom: 1px solid #b9b9b9;
}
}
@media (max-width: 750px) {
  .GLStable {
    width: 100%;
    table-layout: fixed;
    min-width: 870px;
    overflow-x: scroll;
  
  }
  .EstateImg {
    width: 100%;
    height: 100%;
    /* border-radius: 20%; */
  }
  .Th {
    padding: 17px 5px;
    font-weight: 500;
    font-size: 10px;
    color: #140707;
    text-transform: uppercase;
    background-color: #e8e8e8;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #a2a2a2;
    z-index: 0;
  }
  .ThEsp{
    width: 100px;
    padding: 17px 5px;
    font-weight: 500;
    font-size: 10px;
    color: #140707;
    text-transform: uppercase;
    background-color: #e8e8e8;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #a2a2a2;
    z-index: 0;
  }
  .Td {
    padding: 5px;
    vertical-align: middle;
    font-weight: 300;
    font-size: 10px;
    color: #0d0808;
    text-align: center;
    border-bottom: 1px solid #b9b9b9;
  }

  .Td::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .Td {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .TdEsp{
    width: 100px;
    padding: 5px;
    vertical-align: middle;
    font-weight: 300;
    font-size: 10px;
    color: #0d0808;
    text-align: center;
    border-bottom: 1px solid #b9b9b9;
  }
}

.Lock {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width: 100%;
  overflow: scroll;
  max-height: 430px;

}
  /* Hide scrollbar for Chrome, Safari and Opera */
  .Lock::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .Lock {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
.Sell {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  overflow: scroll;
  max-height: 430px;
}
  /* Hide scrollbar for Chrome, Safari and Opera */
  .Sell::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .Sell {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
.getDocument {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  overflow: scroll;
  max-height: 430px;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .getDocument::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.getDocument {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.LockPositin:last-child {
  border: none;
}

.LockSpan {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.LockSpan2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.GetDocument:last-child {
  border: none;
}

.DocumentSpan {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.DocumentBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.DocumentBtn:hover {
  opacity: 0.8;
  transform: scale(1.04);
}

@media (min-width: 750px) {
  .LockPositin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
    /* margin-left: 5%; */
    align-items: center;
    border-bottom: 1px solid #7c7c7c;
    padding: 0 12px;
  }

  .GetDocument {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
    /* margin-left: 5%; */
    align-items: center;
    border-bottom: 1px solid #7c7c7c;
    padding: 0 40px;
  }

  .SellPosition {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    min-width: 60px;
    overflow: hidden;
    text-align: center;
  }
  .InfoP {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    width: 40%;
    min-width: 220px;
    overflow: hidden;
    text-align: left;
  }
  .ContryAndCityP {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    width: 110px;
    overflow-x: hidden;
    text-align: center;
  }
  .LockIcon {
    width: 30px;
    height: 30px;
  }

  .MintId {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    min-width: 70px;
    overflow: hidden;
    text-align: left;
  }

  .DocumentIcon {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 750px) {
  .LockPositin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    /* margin-left: 5%; */
    align-items: center;
    border-bottom: 1px solid #7c7c7c;
    padding: 0 12px;
  }

  .GetDocument {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    /* margin-left: 5%; */
    align-items: center;
    border-bottom: 1px solid #7c7c7c;
    padding: 0 40px;
  }

  .SellPosition {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    min-width: 30px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
  }
  .InfoP {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    width: 40%;
    min-width: 120px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
  }
  .ContryAndCityP {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    width: 50px;
    overflow-x: hidden;
    text-align: center;
    font-size: 10px;
  }
  .LockIcon {
    width: 22px;
    height: 22px;
  }

  .MintId {
    color: #434343;
    font-weight: 400;
    white-space: nowrap;
    min-width: 70px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
  }
  .DocumentIcon {
    width: 25px;
    height: 25px;
  }
}
