.HoverFilter:hover{
  transform: translateY(-1px);
  box-shadow: 0 2px 6px -1px rgba(97, 27, 27, 0.65);
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c1baba;
}


.Buttons a.active {
  position: relative;
  height: 45px;
  border-bottom: 1.5px solid #666666;
  pointer-events: none;
}

.invalid {
  border-radius: 4px;
  background-color: rgba(187, 47, 50, 0.377);
}

.estateDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}
.editButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #b4b4b4;
  background-color: #fefefe;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  color: #444444;
}

.editButton:hover {
  background-color: #f4f4f4;
  transform: translateY(1px);
  box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 1px 1px;
}

@media (min-width: 2401px) {
  .container2 {
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-template-columns: repeat(auto-fill, 19%);
    margin-top: 35px;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media (max-width: 2401px) {
  .container2 {
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-template-columns: repeat(auto-fill, 23.8%);
    margin-top: 40px;
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: 1460px) {
  .container2 {
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-template-columns: repeat(auto-fill, 31.5%);
    margin-top: 40px;
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: 1100px) {
  .container2 {
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-template-columns: repeat(auto-fill, 46.5%);
    margin-top: 40px;
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: 750px) {
  .container2 {
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-template-columns: repeat(auto-fill, 96.5%);
    margin-top: 40px;
    column-gap: 10px;
    row-gap: 10px;
  }
}

.Main {
  display: flex;
  flex-direction: row;
}

@media (min-width: 749px)
  {
  .AdminInfo {
    width: 75%;
    box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background-color: #fafafa;
    margin: 20px;
    padding: 10px;
    overflow-x: scroll;
  }
  .AdminInfo::-webkit-scrollbar {
    display: none;
  }
  .AdminInfo {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .Filter {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background-color: #fafafa;
    z-index: 99;
    position: sticky;
    top: 30px;
  }
  .filterEstate {
    min-width: 300px;
    width: 100%;
    display: flex;
    /* margin: 20px; */
    box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    z-index: 99;
  }
  .FilterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 300px;
    margin: 20px;
  }

  .searchContainer {
    width: 90%;
    display: block;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .closeBtn {
    display: none;
  }
  .FilterBtn {
    -webkit-appearance: none;
    width: 100px;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    height: 45px;
    /* background-color: #4060efe4; */
    background-color: #4a81d4;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
  }
  .FilterBtn2 {
    position: sticky;
    top: 30px;
    margin-top: -560px;
    -webkit-appearance: none;
    width: 80%;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    height: 45px;
    background-color: #4a81d4;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
    z-index: 0;
  }
  .Filter3 {
    display: none;
  }

  .wrapper .box label {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
    transition: all 0.3s ease;
  }
  .wrapper .box label .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
  }
  .box label .dot::before {
    position: absolute;
    content: "";
    top: 52%;
    left: 49.99%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  .InputAdmin {
    font-size: 14px;
    padding: 20px 7px;
    height: 50px;
    align-items: center;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    /* background-color: #fcfcfc; */
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #2f2f2f;
    font-weight: 400;
    -webkit-appearance: none;
    border-radius: 0 10px 10px 0;
  }
  .floatingLabel .icon svg,
  .floatingLabel2 .icon svg {
    height: 26px;
    width: 26px;
    margin: auto;
    opacity: 0.34;
    transition: all 0.3s ease;
    color: #434343;
  }
  .floatingLabel .icon svg path,
  .floatingLabel2 .icon svg path {
    transition: all 0.3s ease;
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #63636386;
    backdrop-filter: blur(3px);
    display: none;
    visibility: hidden;
    z-index: 90;
  }
  .InfoBtn {
    width: 110px;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #323232;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .InfoBtn:hover:active {
    transform: scale(0.99);
  }
  .mainDiv {
    width: 80%;
    margin-left: 10%;
    height: 620px;
    border-radius: 0 0 8px 8px;
    border-top: none;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 14px;
    margin-top: 14px;
    display: flex;
  }
  .Profile h5 {
    white-space: nowrap;
    font-weight: 400;
    color: #434343;
  }
  .ProfileIcon {
    opacity: 0.7;
    width: 30px;
    height: 30px;
  }
  .ProfileIcon2 {
    opacity: 0.7;
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 750px){
  .AdminInfo {
    width: 100%;
    box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 10px;
    overflow-x: scroll;
    margin: 20px;
  }
  .AdminInfo::-webkit-scrollbar {
    display: none;
  }
  .AdminInfo {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .Filter {
    width: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    margin: 0 4%;
    visibility: hidden;
    position: fixed;
    background-color: #fafafa;
    z-index: 999;
  }
  .filterEstate {
    width: 90%;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    margin: 0 4%;
    visibility: hidden;
    position: fixed;
    background-color: #fafafa;
    z-index: 999;
  }
  .searchContainer {
    width: 90%;
    display: block;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
  }
  .closeBtn {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    right: 12px;
    top: 10px;
    border: none;
    background: transparent;
    color: #333;
    cursor: pointer;
  }
  .closeBtn:hover {
    color: #606060;
  }
  .FilterBtn {
    -webkit-appearance: none;
    width: 100px;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    height: 45px;
    background-color: #4060efe4;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
    border: none;
    outline: 0;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
  }
  .FilterBtn2 {
    position: absolute;
    top: 85px;
    left: 25%;
    -webkit-appearance: none;
    width: 15%;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    height: 45px;
    background-color: #4060efe4;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
    z-index: 0;
    display: none;
  }
  .Filter3 {
    display: block;
  }
  .wrapper .box label {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
  }
  .wrapper .box label .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .box label .dot::before {
    position: absolute;
    content: "";
    top: 52%;
    left: 49.99%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
  .InputAdmin {
    font-size: 14px;
    padding: 20px 7px;
    height: 50px;
    align-items: center;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    /* background-color: #fcfcfc; */
    box-sizing: border-box;
    color: #2f2f2f;
    font-weight: 400;
    -webkit-appearance: none;
    border-radius: 0 10px 10px 0;
  }
  .floatingLabel .icon svg,
  .floatingLabel2 .icon svg {
    height: 26px;
    width: 26px;
    margin: auto;
    opacity: 0.34;
    color: #434343;
  }

  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #63636386;
    backdrop-filter: blur(3px);
    display: block;
    visibility: hidden;
    z-index: 90;
  }
  .InfoBtn {
    width: 80px;
    font-size: 11px;
    white-space: nowrap;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #2a2a2a;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  .InfoBtn:hover:active {
    transform: scale(0.99);
  }
  .mainDiv {
    width: 100%;
    height: 620px;
    border-radius: 0 0 8px 8px;
    border-top: none;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 14px;
    margin-top: 14px;
    display: flex;
  }
  .Profile h5 {
    white-space: nowrap;
    font-weight: 400;
    font-size: 8px;
    color: #434343;
  }
  .ProfileIcon {
    opacity: 0.7;
    width: 22px;
    height: 22px;
  }
  .ProfileIcon2 {
    opacity: 0.7;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 430px){
  .InfoBtn2 {
    width: 70px;
    font-size: 9px;
    white-space: nowrap;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #2a2a2a;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
}

.searchBox.searchBar {
  font-family: Arial, FontAwesome;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding: 0 8px;
  font-size: 0.85rem;
  border: 1px solid #d0cfce;
  outline: none;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(60, 0, 0, 0) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #f9f9f9;
}
.searchBox.searchBar:focus {
  border: 1px solid #a0a0a0;
  transition: 0.35s ease;
  color: #232323;
}
.searchBox.searchBar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.searchBox.searchBar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.searchBox.searchBar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.wrapper {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(60, 0, 0, 0) 0px 1px 1px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 2px 0px;
}
.wrapper .title {
  color: #525252;
  line-height: 45px;
  text-align: center;
  background: #efefef;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
  white-space: nowrap;
  border: 1px solid rgb(207, 205, 205);
  border-bottom: none;
}
.wrapper .box {
  padding: 10px 30px 10px 10px;
  background-color: #fbfbfb;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(207, 205, 205);
}
.option1:checked ~ .option1,
.option2:checked ~ .option2 {
  border-color: #979797e4;
  white-space: nowrap;
}
.option1:checked ~ .option1 .dot,
.option2:checked ~ .option2 .dot {
  background: #d0d0d0;
}
.option1:checked ~ .option1 .dot::before,
.option2:checked ~ .option2 .dot::before {
  background: #0572e0;
  transform: translate(-46%, -51%) scale(1.5);
}
.wrapper .box label .text {
  color: #717171;
  font-size: 15px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
.option1:checked ~ .option1 .text,
.option2:checked ~ .option2 .text {
  color: #4e4e4e;
}
.wrapper .box input[type="radio"] {
  display: none;
}

.InputAdmin[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.InputAdmin:focus {
  border-bottom: solid 1px #4097ef;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(129, 151, 203, 0.45);
}

.floatingLabel {
  position: relative;
  margin-bottom: 10px;
  width: 90%;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 10px;
}
.floatingLabel2 {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 10px;
}
.floatingLabel label,
.floatingLabel2 label {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 44px;
  z-index: 0;
  font-size: 14px;
}
.floatingLabel input,
.floatingLabel2 input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
}
.floatingLabel .icon,
.floatingLabel2 .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 44px;
  display: flex;
  background-color: #fcfcfc;
  border-radius: 10px 0 0 10px;
}
.floatingLabel input:not(:-moz-placeholder-shown),
.floatingLabel2 input:not(:-moz-placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floatingLabel input:not(:-ms-input-placeholder),
.floatingLabel2 input:not(:-ms-input-placeholder) {
  padding: 28px 0px 12px 0px;
}
.floatingLabel input:not(:placeholder-shown),
.floatingLabel2 input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floatingLabel input:not(:-moz-placeholder-shown) + label,
.floatingLabel2 input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floatingLabel input:not(:-ms-input-placeholder) + label,
.floatingLabel2 input:not(:-ms-input-placeholder) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floatingLabel input:not(:placeholder-shown) + label,
.floatingLabel2 input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floatingLabel input:valid:not(:-moz-placeholder-shown) + label + .icon svg,
.floatingLabel2 input:valid:not(:-moz-placeholder-shown) + label + .icon svg {
  opacity: 1;
}
.floatingLabel input:valid:not(:-ms-input-placeholder) + label + .icon svg,
.floatingLabel2 input:valid:not(:-ms-input-placeholder) + label + .icon svg {
  opacity: 1;
}
.floatingLabel input:valid:not(:placeholder-shown) + label + .icon svg,
.floatingLabel2 input:valid:not(:placeholder-shown) + label + .icon svg {
  opacity: 1;
}
.floatingLabel
  input:valid:not(:-moz-placeholder-shown)
  + label
  + .icon
  svg
  path,
.floatingLabel2
  input:valid:not(:-moz-placeholder-shown)
  + label
  + .icon
  svg
  path {
  fill: #4097ef;
}
.floatingLabel input:valid:not(:-ms-input-placeholder) + label + .icon svg path,
.floatingLabel2
  input:valid:not(:-ms-input-placeholder)
  + label
  + .icon
  svg
  path {
  fill: #4097ef;
}
.floatingLabel input:valid:not(:placeholder-shown) + label + .icon svg path,
.floatingLabel2 input:valid:not(:placeholder-shown) + label + .icon svg path {
  fill: #4097ef;
}
/* .floatingLabel input:not(:valid):not(:focus) + label + .icon,
.floatingLabel2 input:not(:valid):not(:focus) + label + .icon {
  -webkit-animation-name: shake-shake;
  animation-name: shake-shake;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
} */

/* @-webkit-keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
} */

/* @keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
} */

.FilterBtn2:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px -1px rgba(67, 73, 175, 0.65);
}
.FilterBtn2:hover:active {
  transform: scale(0.99);
}
.FilterBtn:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px -1px rgba(67, 73, 175, 0.65);
}
.FilterBtn:hover:active {
  transform: scale(0.99);
}
.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* gap: 2%; */
  margin-top: 15px;
  /* padding-bottom: 9px; */
  border-bottom: 1px solid #959595;
}
.Buttons a {
  position: relative;
  outline: none;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1em;
}
.Buttons a:hover,
.Buttons a:focus {
  outline: none;
  color: #8c7e7e;
}
.Buttons a::after {
  position: absolute;
  top: 97%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #666666;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.Buttons a:hover::after,
.Buttons a:focus::after {
  height: 1.5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.SelectDiv {
  width: 90%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SelectType {
  /* background-color: #fbfbfb; */
  width: 47%;
  height: 50px;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 8px;
  color: #626262;
  padding-left: 12px;
  padding: 15px 12px;
}
.SelectType:focus {
  outline: 0;
}
.SelectType:hover {
  background-color: #efefef;
}

.SelectOption {
  background-color: #dddddd;
}
.SelectOption:hover {
  background-color: rgb(255, 255, 255);
}

.FLnameDiv {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 6%;
}

.emailDiv {
  width: 90%;
}
.PhoneNumberDiv {
  width: 90%;
}
.CountryAndCityDiv {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 6%;
}
.PasswordDiv {
  width: 90%;
}

.signUpDiv {
  width: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.SubmitBtn {
  -webkit-appearance: none;
  width: 100px;
  min-width: 100px;
  border-radius: 8px;
  text-align: center;
  height: 45px;
  background-color: #4a81d4;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.03);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
  border: 1px solid rgb(207, 205, 205);
  cursor: pointer;
}
.SubmitBtn:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px -1px rgba(67, 73, 175, 0.65);
}
.SubmitBtn:hover:active {
  transform: scale(0.99);
}

.AdminInformation {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100%;
}

.Profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 80%;
  border-bottom: 1px solid #979797;
  margin-left: 50px;
}
.Profile:last-child {
  border-bottom: none;
}
.ProfileIcon:hover {
  opacity: 0.8;
}
.EandDBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.EandDBtn:hover {
  transform: scale(1.05);
}
.profileChildDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
