
.errorDiv{
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.errorDiv p{
  color: #ff0005;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
}
.ErrorIcon{
  width: 18px;
  height: 18px;
}
/***   LayOut   ***/
/* .Tables{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 3%;
}


.Tables12{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 3%;
 
}
.Tables3AndName{
    width: 40%;
}



.Tables1AndName{
    width: 50%;
}
.Tables2AndName{
    width: 50%;
} */

/***    ***/
.dropdown {
  position: relative;
  /* width: 400px; */
}
.menuResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Logo {
  width: 30px;
  height: 30px;
}
.selectedOption {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #e5e5e5;
  /* border: 1px solid #909090; */
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  white-space: nowrap;
  height: 50px;
  color: #3d3a3a;
}

.selectedOption:hover {
  background-color: #e1e1e1;
}

.arrow {
  font-size: 12px;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  min-height: 0px;
  max-height: 150px;
  overflow: scroll;
  scrollbar-width: none;
  font-weight: 600;
  color: #585858;
}

.options::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  display: none;

  border-radius: 15px;
  z-index: 999;
}
.options::-webkit-scrollbar:hover {
  height: 25px;
  z-index: 999;
  background-color: #fff;
}
.options::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
  z-index: 999;
  background-color: #fff;
}
.options::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: #e70202;
  border-radius: 15px;
  z-index: 999;
}

.options li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.options li:hover {
  background-color: #f1f1f1;
}

.options li img {
  width: 30px;
  margin-right: 10px;
}

.CountryMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
}
.Items {
  display: flex;
  flex-direction: column;
  height: 150px;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent;
  border-radius: 0 0 5px 5px;
}
.Items::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  display: none;

  border-radius: 15px;
  z-index: 999;
}
.Items::-webkit-scrollbar:hover {
  height: 25px;
  z-index: 999;
  background-color: #fff;
}
.Items::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
  z-index: 999;
  background-color: #fff;
}
.Items::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: #e70202;
  border-radius: 15px;
  z-index: 999;
}
.MenuItem {
  position: sticky;
  width: 100%;
  height: 40px;
  z-index: 999;
  margin-top: 20px;
  font-size: 0.8rem;
}
.countryImages {
  width: 26px;
  height: 26px;
  margin-top: 15px;
  margin-left: 10px;
}
.logoSpan {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  background-color: #f1f1f1;
  z-index: 99;
  justify-content: space-between;
  border-bottom: 1px solid #909090;
  gap: 3%;
  cursor: pointer;
}
.logoSpan:hover {
  background-color: #dadada;
}
.logoSpan:last-child {
  border-radius: 0 0 5px 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 9999;
  cursor: pointer;
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 6;
  cursor: pointer;
}
/***   MediaQuery   ***/
@media (min-width: 1100px) {
  /***   LayOut   ***/
  .Tables {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
  }

  .Tables12 {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 3%;
  }
  .Tables3AndName {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .Tables1AndName {
    width: 50%;
  }
  .Tables2AndName {
    width: 50%;
  }
  .CountryInformation {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .Tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
  }

  .Tables12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    /* gap: 3%; */
    margin: auto;
  }
  .Tables3AndName {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .Tables1AndName {
    width: 50%;
  }
  .Tables2AndName {
    width: 50%;
  }

  .CountryInformation {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
@media (min-width: 750px) {
  .AddCityCountry {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    width: 100px;
    height: 520px;
  }
  .AddCountry {
    position: fixed;
    top: -90px;
    left: 0px;
    bottom: 0;
    right: 0; /* */
    /* */
    margin: auto;
    z-index: 9999;
    width: 330px;
    max-width: 100%;
    height: 500px;
    padding: 20px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #18181a;
  }
  .AddCity {
    position: fixed;
    top: -300px;
    left: 340px;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    width: 330px;
    max-width: 100%;
    height: 200px;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #18181a;
  }
}
@media (max-width: 750px) {
  .AddCityCountry {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    width: 330px;
    height: 520px;
  }
  .AddCountry {
    position: fixed;
    top: -90px;
    left: 0px;
    bottom: 0;
    right: 0; /* */
    margin: auto;
    z-index: 9999;
    width: 330px;
    max-width: 100%;
    height: 500px;
    padding: 20px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #18181a;
  }
  .AddCity {
    position: absolute;
    top: 600px;
    left: 0px;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    width: 330px;
    max-width: 100%;
    height: 200px;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #18181a;
  }
}
@media (max-width: 500px) {
  .Tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
  }

  .Tables12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    /* gap: 3%; */
    margin: auto;
  }
  .Tables3AndName {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .Tables1AndName {
    width: 100%;
  }
  .Tables2AndName {
    width: 100%;
  }
}
@media (max-width: 390px) {
  #slideRight {
    display: none;
  }
  #slideLeft {
    display: none;
  }
  #slideRight2 {
    display: none;
  }
  #slideLeft2 {
    display: none;
  }
}
/***    ***/

/***   HighestValums  ***/
.HighestVolums {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

.styledTable {
  border-collapse: collapse;
  /* border-radius: 20px; */
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  /* min-width: 400px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
  background-color: #c7c7c7;
  color: rgb(47, 47, 47);
  text-align: left;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 0;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
  white-space: nowrap;
  text-align: center;
}
.styledTable tbody tr {
  border-bottom: 1px solid #c7c7c7;
  color: #585858;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
.styledTable tbody tr.active-row {
  font-weight: bold;
  color: black;
}
.HighestVolums::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  border-radius: 15px;
}
.HighestVolums::-webkit-scrollbar:hover {
  height: 25px;
}
.HighestVolums::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.HighestVolums::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: #c7c7c7;
  border-radius: 15px;
}
.HighestVolumsSpan {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/***    ***/

/***   Gainers  ***/
.Gainers {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
.Gainers::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  border-radius: 15px;
}
.Gainers::-webkit-scrollbar:hover {
  height: 25px;
}
.Gainers::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.Gainers::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: #c7c7c7;
  border-radius: 15px;
}
.GainersIcon {
  width: 20px;
}
.GainersSpan {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
/***    ***/

/***  CountryInformation  ***/

.CountryInformation::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  border-radius: 15px;
}
.CountryInformation::-webkit-scrollbar:hover {
  height: 25px;
}
.CountryInformation::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.CountryInformation::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: #c7c7c7;
  border-radius: 15px;
}
.CountryInformationSpan {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.CountryImage {
  width: 20px;
  height: 20px;
}
.AddButton {
  margin-top: -5px;
  appearance: none;
  background: #c1bbbc;
  border: 1px solid #909090;
  border-radius: 60px;
  box-sizing: border-box;
  color: #3d3a3a;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: normal;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  /* margin: auto; */
  width: 50px;
  height: 50px;
  padding: 6px 15px 6px 11px;
}
.AddButton:disabled {
  pointer-events: none;
}
.AddButton:hover {
  background: #b0a9a9;
  color: #1c1a1a;
  box-shadow: rgba(104, 75, 75, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.Tables3 {
  display: flex;
  flex-direction: column;
}
.Icons {
  width: 27px;
  height: 27px;
  margin-top: 17px;
}
/***  Hide Div  ***/

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.wrapper {
  width: 70%;
  background: #fff;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 13px;

  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}
.wrapper .inputData {
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .inputData .textinput {
  height: 100%;
  width: 99%;
  border: none;
  font-size: 13px;
  border-bottom: 2px solid silver;
  outline: none;
}
.inputData .textinput:focus ~ .label,
.inputData .textinput:valid ~ .label {
  transform: translateY(-20px);
  font-size: 13px;
  color: #4d4d4d;
}
.wrapper .inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputData .underline {
  position: absolute;
  height: 2px;
  width: 80%;
  bottom: -4px;
}
.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 125%;
  background: #535353;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  margin-left: -92px;
}
.inputData .textinput:focus ~ .underline:before,
.inputData .textinput:valid ~ .underline:before {
  transform: scaleX(1);
}

/***   Image Aploader  ***/

.closeBtn {
  font-size: 31px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.closeBtn:hover {
  color: #3d3a3a;
}
/*  Country and city select    */
.CountrySelect2 {
  border: 2px solid rgb(209, 213, 219);
  width: 270px;
  background-color: #fefefe;
  border-radius: 7px;
  padding: 10px;
}
.CountrySelect2:hover {
  background-color: #e9eaed;
}
.CountrySelect2 option {
  background-color: #fff;
}

.ImageH3 {
  margin: 20px 0 3px 0;
}
.ImgAploader {
  width: 85%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.AploadDiv {
  margin: 30px 0;
}
#file-input {
  width: 95%;
  border: 1px solid white;
  border-radius: 5px;
}
#file-input:hover {
  border: 1px solid black;
  transition: 0.2s;
}
.previewContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 125px;
  /* overflow-y: scroll; */
  /* margin: auto; */
  border: 3px dashed black;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.previewContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: 10px; */
}
.previewContainer::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
}
.previewContainer::-webkit-scrollbar:hover {
  height: 25px;
}
.previewContainer::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.previewContainer::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: linear-gradient(to top, black, white);
  border-radius: 15px;
}

.AploadButton {
  appearance: none;
  background: linear-gradient(to right, #fd292f, #a90206);
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: normal;
  height: 40px;
  width: 87%;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin: 20px auto;
}
.AploadButton:disabled {
  pointer-events: none;
}
.AploadButton:hover {
  background: linear-gradient(to left, #fd292f, #fa4753);
  color: #fff;
  box-shadow: rgba(237, 30, 30, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/***     ***/

.SelectAndAdd {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
}
/*  Country and city select    */
.CountrySelect {
  border: 2px solid rgb(209, 213, 219);
  width: 100%;
  background-color: #fefefe;
  border-radius: 7px;
  padding: 10px;
}
.CountrySelect:hover {
  background-color: #e9eaed;
}
.CountrySelect option {
  background-color: #fff;
}

/***   EstateInfo   ***/
.EstateInfo {
  width: 90%;
  margin: -210px auto 30px auto;
  border-radius: 10px;
  overflow-x: scroll;
  height: 360px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
.EstateInfo::-webkit-scrollbar {
  height: 15px;
  background-color: #fff;
  border-radius: 15px;
}
.EstateInfo::-webkit-scrollbar:hover {
  height: 25px;
}
.EstateInfo::-webkit-scrollbar-track {
  height: 8px;
  border-radius: 10px;
}
.EstateInfo::-webkit-scrollbar-thumb {
  height: 5px;
  border: 4px solid #fff;
  background: #c7c7c7;
  border-radius: 15px;
}

/***     ***/
