.sideNavOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: #ffffff78;
  backdrop-filter: blur(2px);
}
.Profile {
  width: 0px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 7;
  transition: 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.Profile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Profile {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.CloseProfile {
  position: absolute;
  left: 12px;
  top: 3px;
  font-size: 24px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}
.CloseProfile:hover {
  opacity: 1;
}

.ProfileHeader {
  width: 100%;
  min-height: 140px;
  background-color: #5e6e88;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileIcon {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.ProfileHeader h4 {
  margin: 0;
  color: #ffffff;
  max-width: 90%;
  overflow-x: hidden;
  white-space: nowrap;
  font-weight: 400;
}

.ProfileItem {
  width: 100%;
  min-height: 50px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 1px solid #cfcfcf;
  /* margin-bottom: 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.ProfileItem:hover {
  background-color: #f5f5f5;
}
.LeftLine {
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 50px;
  background-color: #3d4e6a;
  border-radius: 0 10px 10px 0;
}
.ProfileItemInside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 10px;
  font-size: 13px;
  color: #1d1d1d;
  white-space: nowrap;
}

.ProfileItemIcon {
  width: 31px;
  height: 31px;
}
.ProfileArrowIcon {
  width: 18px;
  position: relative;
  left: -12px;
  transition: 0.3s;
}

.ProfileItems {
  min-height: 0px;
  max-height: 0px;
  transition: 0.3s;
  width: 90%;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  /* top: -4px; */
}
.ProfileItems h5 {
  width: 92%;
  padding: 10px 10px;
  background-color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  margin: 0;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.3s;
  color: #1d1d1d;
  white-space: nowrap;
}
.ProfileItems h5:hover {
  background-color: #f0f0f0;
}

.LeftLine2 {
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 50px;
  background-color: #3d4e6a;
  border-radius: 0 10px 10px 0;
}
.ProfileArrowIcon2 {
  width: 18px;
  position: relative;
  left: -12px;
  transition: 0.3s;
}
.ProfileItems2 {
  min-height: 0px;
  max-height: 0px;
  transition: 0.3s;
  width: 90%;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  /* top: -4px; */
}
.ProfileItems2 h5 {
  width: 92%;
  padding: 10px 10px;
  background-color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  margin: 0;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.3s;
  color: #1d1d1d;
  white-space: nowrap;
}
.ProfileItems2 h5:hover {
  background-color: #f0f0f0;
}

.LeftLine3 {
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 50px;
  background-color: #3d4e6a;
  border-radius: 0 10px 10px 0;
}
.ProfileArrowIcon3 {
  width: 18px;
  position: relative;
  left: -12px;
  transition: 0.3s;
}
.ProfileItems3 {
  min-height: 0px;
  max-height: 0px;
  transition: 0.3s;
  width: 90%;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  /* top: -4px; */
}
.ProfileItems3 h5 {
  width: 92%;
  padding: 10px 10px;
  background-color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  margin: 0;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.3s;
  color: #1d1d1d;
  white-space: nowrap;
}
.ProfileItems3 h5:hover {
  background-color: #f0f0f0;
}

.ProfileItemDiv {
  width: 0px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 8;
  transition: 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ProfileItemDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ProfileItemDiv {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ProfileItemsHeader {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  background-color: #5e6e88;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileItemsHeader p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  margin-top: 23px;
  white-space: nowrap;
}
.ArrowLeftIcon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ArrowLeftIcon:hover {
  background-color: #515f76;
}

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  height: 40px;
  width: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  padding-right: 38px;
  color: #5a5a5a;
  transition: 0.3s;
  font-weight: 300;
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: 16px; */
  left: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.inputs {
  font-size: 13px;
}

.label .text {
  transition: all 0.15s ease-out;
  color: #959595;
  font-size: 11px;
}

.inputs:focus {
  outline: none;
  border: 1px solid rgb(126, 126, 126);
}

.inputs:focus + .label .text,
:not(input[value=""]) + .label .text {
  font-size: 12px;
  transform: translate(0, -135%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.inputs:focus + .label .text {
  color: rgb(67, 67, 67);
}

.inputs:hover {
  border: 1px solid rgb(158, 157, 157);
}

/* Chrome, Safari, Edge, Opera */
.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputs[type="number"] {
  -moz-appearance: textfield;
}
.inputs:disabled {
  /* background-color: #f1f1f1; */
  color: #949494;
  cursor: no-drop;
}

.EditDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}
.ProfileEditBtn {
  position: absolute;
  right: 17px;
  border: none;
  background: none;
  cursor: pointer;
}
.ProfileEditIcon {
  width: 23px;
  height: 23px;
  opacity: 0.6;
  transition: 0.3s;
}
.ProfileEditIcon:hover {
  opacity: 0.9;
}
.SubmitBtn {
  margin-top: 15px;
  width: 105px;
  min-height: 37px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  background: linear-gradient(0.55turn, #5e6e88, #5c6c93);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.SubmitBtn:hover {
  background: linear-gradient(0.55turn, #5e6e88, #5e6e98);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ProfileItemDiv2 {
  width: 0px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 8;
  transition: 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ProfileItemDiv2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ProfileItemDiv2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ProfileItemsHeader2 {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  background-color: #5e6e88;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileItemsHeader2 p {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  margin-top: 26px;
  white-space: nowrap;
}

.inputContainer2 {
  margin-top: 20px;
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PasswordInputs {
  height: 40px;
  width: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  color: #5a5a5a;
  transition: 0.3s;
  font-weight: 300;
}

.PasswordLabel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.PasswordInputs {
  font-size: 13px;
}

.PasswordLabel .PasswordText {
  transition: all 0.15s ease-out;
  color: #959595;
  font-size: 11px;
}

.PasswordInputs:focus {
  outline: none;
  border: 1px solid rgb(126, 126, 126);
}

.PasswordInputs:focus + .PasswordLabel .PasswordText,
:not(input[value=""]) + .PasswordLabel .PasswordText {
  font-size: 12px;
  transform: translate(0, -126%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.PasswordInputs:focus + .PasswordLabel .PasswordText {
  color: rgb(67, 67, 67);
}

.PasswordInputs:hover {
  border: 1px solid rgb(158, 157, 157);
}

/* Chrome, Safari, Edge, Opera */
.PasswordInputs::-webkit-outer-spin-button,
.PasswordInputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.PasswordInputs[type="number"] {
  -moz-appearance: textfield;
}
.PasswordInputs:disabled {
  color: #949494;
  cursor: no-drop;
}
